body{
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}
.bold{
    color: blue;
}
p{
    color:blue
}
.name{
    width: 45%;
    float: left;
    margin-left: 2%;
    padding-left: 1%;
}
.name img{
    width: 100%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(180deg, black, red);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}
.single-ex{
    box-shadow:10px 10px 40px gray ;
    border-radius: 10px;
    height: 80%;
    background-color: azure;
}
#taka{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, blue, yellow);
    border-image-slice: 1;
}
#baby-web{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, red, gold);
    border-image-slice: 1;
}    
footer p{
    text-align: center;
}